.main-navigation {
  display: flex;
  align-items: center;
}

.main-navigation__logo {
  margin-right: 50px;
  align-self: flex-start;
}

.main-navigation__button {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: 58px;
  width: 204px;
  padding: 13px 0;
  text-align: center;
}
