.site-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.site-navigation__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: var(--dark);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-color: var(--accent-main);
    opacity: 0.7;
  }

  &:focus-visible {
    outline-offset: 0.2em;
    outline-color: var(--accent-main);
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-color: var(--dark);
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }

  &--active {
    color: var(--accent-main);
    cursor: default;

    &:hover {
      text-decoration: none;;
      opacity: 1;
    }
  }
}
